* {
  padding: 0%;
  margin: 0%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#hero {
  border: 1px solid black;
  background-image: url(./NYC.jpg);
  height: 500px;
  width:100%;
  background-position: center;
  background-origin: center;
  background-size: cover;
}
#hero-dark {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.433);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bornagain {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blanchedalmond;
  font-size: 600%;
}
#description {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blanchedalmond;
  font-size: 300%;
}
#blog {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
}
#blogtitles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Home {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
}
#articles {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#article {
  height: auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 100px;
}
#foliage {
  border:10px solid transparent;
  border-radius: 100px;
}
#article-title {
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 200%;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 150%;
  line-height: 3.0ch;
}
#text {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}